footer {
    background-color: rgb(36, 134, 214);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    left: 0 ; right: 0; bottom: 0; 
    height:10% ;
    padding: 20px;
    color: white;
    font-family: 'Rokkitt', serif
 }
 a:link,a:visited{
    color: white;
 }
 .textI{
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4em;
    padding: .75em;
 }
.textII{
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 8em;
    /* padding: .2em; */
    text-align: center;
}
.textIII{
    color: white;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4em;
    padding: .75em;
    text-align: center;

}
.subtext{
    font-family: 'Notable', sans-serif;
    color: white;
    text-align: right;
    font-size: 1.3em;
} 
.surveyContainer{
    display: flex;
    width:100%;
}  

.surveyHeader{
    display: flex;
    width:100%;
}  
.questionsContainer{
    display: flex;
    justify-content: c
   

} 

body {
    background-image: url(../images/mansion.jpg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position:relative;
    display: flex;
    color: white;
    /* width: 100%;
    height: 60%;
    margin: 0;
    padding: 0; */
}
html {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
    width: 80%;
    height: 80%;
    
    /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.buttonContainer{
    padding: 2em;
    display: inline;
    justify-content: center;
}
.btn{
    background-color: rgb(36, 134, 214);
    padding: 20px;
    color: white;
    font-family: 'Rokkitt', serif;
    font-size:1.5em;
    margin: 3em;
}
/* font-family: 'Black Han Sans', sans-serif;
font-family: 'Notable', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Rokkitt', serif; */